@font-face {
  font-family: "iconfont"; /* Project id 4010872 */
  src: url('iconfont.woff2?t=1681269900129') format('woff2'),
       url('iconfont.woff?t=1681269900129') format('woff'),
       url('iconfont.ttf?t=1681269900129') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinzeng:before {
  content: "\e616";
}

.icon-guanbi:before {
  content: "\eaf2";
}

